* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html {
    font-size: 62.5%;
}

body {
    color: aquamarine;
    font-size: 5rem;
}

.main-header {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.container {
    margin: 20px 0 0 0;
}